// Theme Primary Color
$primary : #438ffe;
$warning : #160e4d;
$accent : #fe764b;
$info : #f5f7f9;
$white : #ffffff;
$success-primary : #8bc38a;
$success-secondary :  #83bcbd;
$secondary : #f8f8f8;
$dark: #000;
$light-dark: #abb1bf;

// map
$cards: (
  "view": $primary,
  "product": $success-primary,
  "user": $primary,
  "sells": $success-secondary
);


// Body
$body-bg : $white;

// Header
$header-bg : $white;

// icon color
$icon-color : #abb1bf;

// Main Content
$main-content-bg : $secondary;

// text
$text-muted: #c0c4cf;

// Graph
$graph-views-color: $success-secondary;
$graph-sells-color: $accent;