/* universal selector */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* font family */
body{
    font-family: 'Open Sans', sans-serif;
}

/* Header */
#heading{
    background-color: rgba(66, 73, 50, 0.425);
}

.container-1{
    padding: 30px 20px;
    text-align: center;
    color: white;
}

/* button */
.container-2{
    padding-top: 200px;
    text-align: center;
}
.btn{
    background-color: rgba(66, 73, 50, 0.7);
    width: 400px;
    height: 200px;
    font-size: 60px;
    color: white;
    border: none;
    border-radius: 5px;
}

/* Image 1 */
.img-1{
    background-image: url("/assets/images/img_1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; 
}

/* Image 2 */
.img-2{
    background-image: url("/assets/images/img_2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; 
}

/* Image 3 */
.img-3{
    background-image: url("/assets/images/img_3.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; 
}

/* Text section h3, p */
.text{
    background-color: rgba(66, 73, 50, 0.596);
    height: 400px;
    
}

.text h3,p{
    text-align: center;
    padding: 40px 20px;
    color: white;
}

