// All the SCSS mixins goes here

// Position mixin
@mixin position ($position: absolute, $top: auto, $right: auto, $bottom: auto, $left: auto) {
    position: $position;
    top     : $top;
    right   : $right;
    bottom  : $bottom;
    left    : $left;
}

// Border radius
@mixin border-radius($for: all, $value: 5px) {

    @if $for == all {
        border-radius: $value;
    }

    @else if $for == topleft {
        border-top-left-radius: $value;
    }

    @else if $for == topright {
        border-top-right-radius: $value;
    }

    @else if $for == bottomright {
        border-bottom-right-radius: $value;
    }

    @else if $for == bottomleft {
        border-bottom-left-radius: $value;
    }
}

// Media query 
@mixin for-size($size){

    @if $size == xl {
        @media (max-width: 1200px) { @content; }
    }

    @else if $size == lg {
        @media (max-width: 992px) { @content; }
    }

    @else if $size == md {
        @media (max-width: 768px) { @content; }
    }

    @else if $size == sm {
        @media (max-width: 576px) { @content; }
    }

    @else if $size == x-sm {
        @media (max-width: 380px) { @content; }
    }
}
